.hero {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.login-body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
}

.login-box {
    max-width: 550px;
    position: absolute;
    z-index: 1;
    max-width: 550px;
    background: #ffffffd4;
    padding: 30px;
    border-radius: 20px;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero .container {
    color: #000000;
    background: #ffffffc2;
    padding: 27px;
    border-radius: 30px;
    width: 50%;
    position: absolute;
    z-index: 2;
}

.hero-back {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: #0000003d;
}

.form-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-holder .form-control {
    width: 500px;
}

.navbar {
    padding-left: 25px
}